body {
  text-align: center;
  background-repeat: no-repeat;
  background: linear-gradient(#60ebeb 0%, #27ae60 100%);
}
#welcome {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 650px;
  display: table;
  opacity: 0.83;
  z-index: 9;
  height: 10%;
  width: 100%;
}
h1 {
  font-size: 40px;
  text-shadow: 3px 2px #29b6f6;
}
.code {
  height: 400px;
}
#bio {
  padding: 50px;
  text-align: center;
}
.line {
  height: 6px;
  background-color: #000;
  width: 200px;
  margin: 8px auto;
}
#parralex-inner {
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
p {
  max-width: 450px;
  margin: 25px auto;
  font-size: 17px;
  line-height: 1.3;
}
h2 {
  color: #e91e63;
}

.profile {
  width:650px;
  border-radius: 10%;
  margin-bottom: 50px;
  margin-top: 70px;
}

